### Extracting Tesla Stock Data Using yfinance

In [6]:
import yfinance as yf
import pandas as pd

Using the ticker function to enter the ticker symbol of the stock we want to extract data on in this case which is the tesla stock with ticker symbol TSLA

In [7]:
tesla = yf.Ticker("TSLA")

using the ticker object and the function history, extract stock information and save it in a dataframe named tesla_share_price_data. Set the period parameter to max so we get the information for the maximum amount of time.

In [8]:
tsla_stock_data = tesla.history(period="max")

reset the index, save and display the first five rows of the tesla_share_price_data dataframe using the head function.

In [9]:
tsla_stock_data.reset_index(inplace=True)

In [10]:
tsla_stock_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

### Extracting GameStop Stock Data Using yfinance

Using the ticker function to enter the ticker symbol of the stock we want to extract data on. In this case which is the GameStop stock with ticker symbol GME

In [11]:
GameStop = yf.Ticker("GME")

using the ticker object and the function history, extract stock information and save it in a dataframe named GameStop_share_price_data. Set the period parameter to max so we get the information for the maximum amount of time.

In [12]:
GameStop_data = GameStop.history(period="max")

reset the index, save and display the first five rows of the GameStop_share_price_data dataframe using the head function.

In [13]:
GameStop_data.reset_index(inplace=True)
GameStop_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

### Extracting Tesla Revenue Data Using Webscraping

In [14]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

using the request library for sending an HTTP request to the web page.<br>

In [15]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm" 
html_data  = requests.get(url).text

parse the html content

In [16]:
soup = BeautifulSoup(html_data, 'html.parser')

create an empty DataFrame and iterate through rows in the table body

In [19]:
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])
for row in soup.find_all("tbody")[1].find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
     # Finally we append the data of each row to the table
    tesla_revenue = pd.concat([tesla_revenue,pd.DataFrame({"Date":[date], "Revenue":[revenue]})], ignore_index=True)    
tesla_revenue.tail()

          Date Revenue
49  2010-06-30     $28
50  2010-03-31     $21
51  2009-12-31
52  2009-09-30     $46
53  2009-06-30     $27

### Extracting GameStop Revenue Data Using Webscraping

using the request library for sending an HTTP request to the web page.<br>

In [18]:
urle = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data_2 = requests.get(urle).text

parse the html content

In [106]:
soup = BeautifulSoup(html_data_2, 'html.parser')

create an empty DataFrame and iterate through rows in the table body

In [18]:
gamestop_revenue= pd.DataFrame(columns=["Date", "Revenue"])
for row in soup.find_all("tbody")[1].find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
     # Finally we append the data of each row to the table
    gamestop_revenue = pd.concat([gamestop_revenue,pd.DataFrame({"Date":[date], "Revenue":[revenue]})], ignore_index=True)    
gamestop_revenue.tail()

          Date Revenue
49  2010-06-30     $28
50  2010-03-31     $21
51  2009-12-31
52  2009-09-30     $46
53  2009-06-30     $27

### GameStop Stock and Revenue Dashboard

In [108]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [21]:
import plotly.io as pio
pio.renderers.default = "iframe"
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [38]:
# Keep only Date and Close columns
GameStop_data = GameStop_data[["Date", "Close"]]
GameStop_data["Date"] = pd.to_datetime(GameStop_data["Date"])
GameStop_data["Date"] = pd.to_datetime(GameStop_data["Date"])

#Define Graphing Function

def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()
    from IPython.display import display, HTML
    fig_html = fig.to_html()
    display(HTML(fig_html))
#make_graph(GameStop_data, gamestop_revenue, 'gamestop')

### Tesla Stock and Revenue Dashboard

In [33]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [34]:
import plotly.io as pio
pio.renderers.default = "iframe"
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [39]:
# Keep only Date and Close columns
tsla_stock_data = tsla_stock_data[["Date", "Close"]]
tsla_stock_data["Date"] = pd.to_datetime(tsla_stock_data["Date"])

#Define Graphing Function

def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()
    from IPython.display import display, HTML
    fig_html = fig.to_html()
    display(HTML(fig_html))
#make_graph(tsla_stock_data, tesla_revenue, 'tesla')