In [5]:
import yfinance as yf
import pandas as pd

Using the ticker function to enter the ticker symbol of the stock we want to extract data on in this case which is the tesla stock with ticker symbol TSLA

In [17]:
tesla = yf.Ticker("TSLA")

using the ticker object and the function history, extract stock information and save it in a dataframe named tesla_share_price_data. Set the period parameter to max so we get the information for the maximum amount of time.

In [14]:
tesla_share_price_data = tesla.history(period="max")

reset the index, save and display the first five rows of the tesla_share_price_data dataframe using the head function.

In [15]:
tesla_share_price_data.reset_index(inplace=True)

In [24]:
tesla_share_price_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Using the ticker function to enter the ticker symbol of the stock we want to extract data on. In this case which is the GameStop stock with ticker symbol GME

In [39]:
GameStop = yf.Ticker("GME")

using the ticker object and the function history, extract stock information and save it in a dataframe named GameStop_share_price_data. Set the period parameter to max so we get the information for the maximum amount of time.

In [40]:
GameStop_share_price_data = GameStop.history(period="max")

reset the index, save and display the first five rows of the GameStop_share_price_data dataframe using the head function.

In [43]:
GameStop_share_price_data.reset_index(inplace=True)
GameStop_share_price_data.head()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683251,11021600,0.0,0.0
2,2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0